<section id="about-2" class="about-2 section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row justify-content-center">
          <div class="col-lg-8 text-center intro-content">
            <span class="badge-label"><i class="bi bi-info-circle"></i> Discover More</span>
            <h2 class="main-heading">Temporibus autem quibusdam et aut officiis debitis rerum</h2>
            <p class="lead-text">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
          </div>
        </div>

        <div class="row align-items-center gy-4 mt-4">
          <div class="col-lg-7" data-aos="fade-right" data-aos-delay="200">
            <div class="media-wrapper">
              <img src="assets/store/img/about/about-wide-5.webp" class="img-fluid" alt="">
              <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox play-btn-circle">
                <i class="bi bi-play-fill"></i>
              </a>
              <div class="media-gradient"></div>
            </div>
            <div class="row mt-4 gy-3">
              <div class="col-sm-6">
                <p class="extra-text">Amet eos ut officiis soluta ab id dolor non sint. Corporis omnis consequatur quisquam ex consequuntur quo omnis eligendi.</p>
              </div>
              <div class="col-sm-6">
                <p class="extra-text">Quo eligendi cum amet mollitia qui quidem dolores praesentium quasi ut et voluptates repudiandae sint molestiae.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-5" data-aos="fade-left" data-aos-delay="300">
            <div class="info-card">
              <div class="icon-circle">
                <i class="bi bi-bullseye"></i>
              </div>
              <div class="info-body">
                <h3><a href="#" class="stretched-link">Quis autem vel</a></h3>
                <p>Nam libero tempore cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat.</p>
              </div>
            </div><!-- End Info Card -->

            <div class="info-card">
              <div class="icon-circle">
                <i class="bi bi-person-check"></i>
              </div>
              <div class="info-body">
                <h3><a href="#" class="stretched-link">Ut enim ad minima</a></h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque.</p>
              </div>
            </div><!-- End Info Card -->

            <div class="info-card">
              <div class="icon-circle">
                <i class="bi bi-clipboard-data"></i>
              </div>
              <div class="info-body">
                <h3><a href="#" class="stretched-link">Excepteur sint occaecat</a></h3>
                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet consectetur adipisci velit sed quia non.</p>
              </div>
            </div><!-- End Info Card -->
          </div>
        </div>

      </div>

    </section><!-- /About 2 Section -->