<section id="cards" class="cards section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <ul class="nav nav-tabs category-tabs justify-content-center" data-aos="zoom-in" data-aos-delay="150">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#cards-tab-1">
              <i class="bi bi-lightning-charge"></i> Popular Picks
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#cards-tab-2">
              <i class="bi bi-trophy"></i> Top Rated
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#cards-tab-3">
              <i class="bi bi-gem"></i> Curated Selection
            </a>
          </li>
        </ul><!-- End Category Tabs -->

        <div class="tab-content" data-aos="fade-up" data-aos-delay="200">

          <!-- Popular Picks Tab -->
          <div class="tab-pane fade show active" id="cards-tab-1">
            <div class="row gy-4">
              <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="item-card">
                  <div class="item-img">
                    <img src="assets/store/img/product/product-1.webp" alt="Artisan Leather Bag" class="img-fluid">
                    <span class="tag tag-fresh">Fresh</span>
                    <div class="quick-actions">
                      <a href="#"><i class="bi bi-heart"></i></a>
                      <a href="#"><i class="bi bi-bag-plus"></i></a>
                    </div>
                  </div>
                  <div class="item-details">
                    <h4>Artisan Leather Bag</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-half"></i>
                      <span>(31)</span>
                    </div>
                    <div class="pricing">
                      <span class="price">$92.00</span>
                    </div>
                  </div>
                </div>
              </div><!-- End Product Item -->

              <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="item-card">
                  <div class="item-img">
                    <img src="assets/store/img/product/product-3.webp" alt="Crystal Drop Earrings" class="img-fluid">
                    <div class="quick-actions">
                      <a href="#"><i class="bi bi-heart"></i></a>
                      <a href="#"><i class="bi bi-bag-plus"></i></a>
                    </div>
                  </div>
                  <div class="item-details">
                    <h4>Crystal Drop Earrings</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      <span>(53)</span>
                    </div>
                    <div class="pricing">
                      <span class="price">$44.50</span>
                    </div>
                  </div>
                </div>
              </div><!-- End Product Item -->

              <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="item-card">
                  <div class="item-img">
                    <img src="assets/store/img/product/product-5.webp" alt="Linen Blend Shirt" class="img-fluid">
                    <div class="quick-actions">
                      <a href="#"><i class="bi bi-heart"></i></a>
                      <a href="#"><i class="bi bi-bag-plus"></i></a>
                    </div>
                  </div>
                  <div class="item-details">
                    <h4>Linen Blend Shirt</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i>
                      <span>(22)</span>
                    </div>
                    <div class="pricing">
                      <span class="price">$49.00</span>
                    </div>
                  </div>
                </div>
              </div><!-- End Product Item -->
            </div>
          </div><!-- End Popular Picks Tab -->

          <!-- Top Rated Tab -->
          <div class="tab-pane fade" id="cards-tab-2">
            <div class="row gy-4">
              <div class="col-lg-4 col-md-6">
                <div class="item-card">
                  <div class="item-img">
                    <img src="assets/store/img/product/product-2.webp" alt="Tailored Slim Jeans" class="img-fluid">
                    <span class="tag tag-discount">-20%</span>
                    <div class="quick-actions">
                      <a href="#"><i class="bi bi-heart"></i></a>
                      <a href="#"><i class="bi bi-bag-plus"></i></a>
                    </div>
                  </div>
                  <div class="item-details">
                    <h4>Tailored Slim Jeans</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      <span>(93)</span>
                    </div>
                    <div class="pricing">
                      <span class="price">$64.00</span>
                      <span class="was-price">$80.00</span>
                    </div>
                  </div>
                </div>
              </div><!-- End Product Item -->

              <div class="col-lg-4 col-md-6">
                <div class="item-card">
                  <div class="item-img">
                    <img src="assets/store/img/product/product-6.webp" alt="Quilted Shoulder Bag" class="img-fluid">
                    <div class="quick-actions">
                      <a href="#"><i class="bi bi-heart"></i></a>
                      <a href="#"><i class="bi bi-bag-plus"></i></a>
                    </div>
                  </div>
                  <div class="item-details">
                    <h4>Quilted Shoulder Bag</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-half"></i>
                      <span>(68)</span>
                    </div>
                    <div class="pricing">
                      <span class="price">$134.99</span>
                    </div>
                  </div>
                </div>
              </div><!-- End Product Item -->

              <div class="col-lg-4 col-md-6">
                <div class="item-card">
                  <div class="item-img">
                    <img src="assets/store/img/product/product-8.webp" alt="Compact Messenger Bag" class="img-fluid">
                    <span class="tag tag-popular">Popular</span>
                    <div class="quick-actions">
                      <a href="#"><i class="bi bi-heart"></i></a>
                      <a href="#"><i class="bi bi-bag-plus"></i></a>
                    </div>
                  </div>
                  <div class="item-details">
                    <h4>Compact Messenger Bag</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      <span>(119)</span>
                    </div>
                    <div class="pricing">
                      <span class="price">$99.50</span>
                    </div>
                  </div>
                </div>
              </div><!-- End Product Item -->
            </div>
          </div><!-- End Top Rated Tab -->

          <!-- Curated Selection Tab -->
          <div class="tab-pane fade" id="cards-tab-3">
            <div class="row gy-4">
              <div class="col-lg-4 col-md-6">
                <div class="item-card">
                  <div class="item-img">
                    <img src="assets/store/img/product/product-7.webp" alt="Flowing Midi Skirt" class="img-fluid">
                    <div class="quick-actions">
                      <a href="#"><i class="bi bi-heart"></i></a>
                      <a href="#"><i class="bi bi-bag-plus"></i></a>
                    </div>
                  </div>
                  <div class="item-details">
                    <h4>Flowing Midi Skirt</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i>
                      <span>(38)</span>
                    </div>
                    <div class="pricing">
                      <span class="price">$79.00</span>
                    </div>
                  </div>
                </div>
              </div><!-- End Product Item -->

              <div class="col-lg-4 col-md-6">
                <div class="item-card">
                  <div class="item-img">
                    <img src="assets/store/img/product/product-4.webp" alt="Angular Dangle Earrings" class="img-fluid">
                    <span class="tag tag-exclusive">Exclusive</span>
                    <div class="quick-actions">
                      <a href="#"><i class="bi bi-heart"></i></a>
                      <a href="#"><i class="bi bi-bag-plus"></i></a>
                    </div>
                  </div>
                  <div class="item-details">
                    <h4>Angular Dangle Earrings</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-half"></i>
                      <span>(51)</span>
                    </div>
                    <div class="pricing">
                      <span class="price">$47.99</span>
                    </div>
                  </div>
                </div>
              </div><!-- End Product Item -->

              <div class="col-lg-4 col-md-6">
                <div class="item-card">
                  <div class="item-img">
                    <img src="assets/store/img/product/product-9.webp" alt="Classic Buckle Satchel" class="img-fluid">
                    <div class="quick-actions">
                      <a href="#"><i class="bi bi-heart"></i></a>
                      <a href="#"><i class="bi bi-bag-plus"></i></a>
                    </div>
                  </div>
                  <div class="item-details">
                    <h4>Classic Buckle Satchel</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      <span>(72)</span>
                    </div>
                    <div class="pricing">
                      <span class="price">$94.99</span>
                    </div>
                  </div>
                </div>
              </div><!-- End Product Item -->
            </div>
          </div><!-- End Curated Selection Tab -->

        </div><!-- End Tab Content -->

      </div>

    </section><!-- /Cards Section -->
